node_modules
mock_data

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# https in dev
localhost-key.pem
localhost.pem

# other shit
bng_oauth2_docs.txt
